<div class="header-title">Mensajes</div>
<div>
    <div class="users-messages-profile border rounded  ">
        <div class="d-flex align-items-center px-4 py-2 overflow-auto">
            <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status offline rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status unconnected rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle ">
            </div>
            <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status offline rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status unconnected rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle ">
            </div>
            <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div> <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status offline rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status unconnected rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
            <div class="user ">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle ">
            </div>
            <div class="user">
                <div class="status online rounded-circle position-absolute top-0 end-0"></div>
                <img src="assets/profile.jpg" width="75" height="75" class="rounded-circle">
            </div>
        </div>

    </div>

</div>