/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #05314f;
    --secondary-color: #e2e072;
    --success-color: #7dce82;
    --danger-color: #fe5f55;
    --white-color: #f7f7f9;
    --dark-color: #11101d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Scroll 1 */
.sc1::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.sc1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.sc1::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}
.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
